// Colors used in app
$C1:         #4281A4
$C2:         #9CAFB7
$C3:         #EAD2AC
$C4:         #E6B89C
$C5:         #FE938C
$C6:         #f7b4b0
$C7:         #fbe3e2
$green:      #4faf4f
$yellow:     #ffe800
$red:        #F00
// assignment colors
$body:       $C6
$header:     $C5
$a:          $C7
