// Compilable
@import 'animate'
@import 'fonts/Melbourne/style.css'
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,700')
@import 'normalize'
@import 'mixin'
// Import of colors variables
@import 'colors.sass'
$ff: 'Work Sans', 'Helvetica', sans-serif

body
    width: 100vw
    font-family: $ff
    position: relative
a
    text-decoration: none
    color: white
.popup-container
    z-index: 9999
    background-color: rgba(black, 0.65)
    color: white
    width: 100vw
    height: 100vh
    position: absolute
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    .popup-content
        width: 700px
        height: 400px
        background-color: rgba(black, 0.75)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    .btn-close
        position: absolute
        top: 20px
        right: 20px
header
    width: 100%
    height: 700px
    background-image: url('../img/bg-index.jpg')
    background-size: cover
    background-position-x: 50%
    background-position-y: 20%
    color: white
    padding: 40px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    box-sizing: border-box
    .logo-subtitle
        h3
            margin-top: 10px
            font-weight: 100
    .log
        display: flex
        flex-direction: row
        font-weight: 100
        a
            margin: 10px
            padding: 5px
            &:hover
                border-bottom: 1px solid white
