// Compilable
@import 'animate'
@import 'fonts/Melbourne/style.css'
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900')
@import 'normalize'
@import 'mixin'
// Import of colors variables
@import 'colors'
$ff: 'Work Sans', 'Helvetica', sans-serif
$headerHeight: 120px

// globals

.hidden
    display: none

body
    background-image: url("../img/bg-index.jpg")
    width: 100vw
    font-family: $ff
    font-weight: bolder
    display: flex
    flex-direction: column
    align-items: center

header
    width: 100vw
    height: $headerHeight
    background-color: $header
    box-shadow: 0 0 10px $shadow
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    position: relative
    color: #0a0605
    +prefix(transition, all 1s linear)
    .subtitle
        font-weight: 300
        margin: 5px 0
        p
            margin: 0
    .logged
        position: absolute
        left: 30px
        top: 50%
        font-size: 1em
        display: flex
        flex-direction: row
        align-items: center
        +prefix(transform, translateY(-50%))
    .connected-person
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin: 20px
        .fa
            margin-bottom: 10px
        .fa-users
            font-size: 2.8em
        .fa-child
            font-size: 2.8em
    .disconnect
        position: absolute
        top: 10px
        right: 10px
        color: black
        text-decoration: none
        &:hover
            color: red

main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .demo-wrapper
        width: 80vw
        background-color: rgba(0, 0, 0, 0.7)
        box-shadow: 0 0 10px lighten($shadow, 4%)
        padding: 80px 40px
        display: flex
        flex-direction: column
        align-items: center
        box-sizing: border-box
        +prefix(transition, all 1s linear)
        margin: 50px 0
        position: relative
        color: $header

    .date
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        box-shadow: 0 0 2px 0 $header
        position: absolute
        top: -20px
        left: 40px
        .date-element
            display: flex
            align-items: center
            justify-content: center
            width: auto
            padding: 20px
            height: 30px
            background-color: $header
            box-sizing: border-box
            color: black

    .responsability-row
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        width: 100%
        margin-bottom: 30px

    .responsability-text
        font-size: 3em
        color: $header
        flex: 0.5
        text-align: center

    .responsability-smile
        .svg
            fill: $a
            stroke: $header
            width: 80px
            cursor: crosshair
            margin: 0 5px
            border-radius: 50%
        .svg-good--colored
            // fill: $green
            stroke: $green
            background-color: $green
        .svg-good
            &:hover
                @extend .svg-good--colored
        .svg-average--colored
            // fill: $yellow
            stroke: $yellow
            background-color: $yellow
        .svg-average
            &:hover
                @extend .svg-average--colored
        .svg-bad--colored
            // fill: $red
            stroke: $red
            background-color: $red
        .svg-bad
            &:hover
                @extend .svg-bad--colored
    .submit-data
        background-color: white
        color: $body
        padding: 10px
        box-sizing: border-box
        cursor: pointer
        &:hover
            box-shadow: 0px 0px 10px 0px #4a4a4a
    .error-message
        color: red
        margin: 30px 0

.canvas
    width: 30vw

// MATERIAL DESIGN

.progress
    width: 50vw
    height: 50px
.progress-wrap
    background: #f80
    margin: 20px 0
    overflow: hidden
    position: relative
    .progress-bar
        background: #ddd
        left: 0
        position: absolute
        top: 0
